.montserrat-alternates{
    font-family: 'Montserrat Alternates', sans-serif;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

/* for menu  */
.menu-selection {
    position: relative;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .menu-selection:hover {
    transition: color 0.4s ease;
    /* color: white; */
    cursor: pointer;
  }
  .type-1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: black; */
    border-bottom: 2px solid white;
    z-index: -1;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  .type-1:hover:after {
    transform-origin: 0%;
    transform: scaleX(1);
  }


  /* for link */
  .link-selection {
    position: relative;
    width: 110px;
    height: 40px;
    padding-bottom: 10px;
    z-index: 1;
  }
  .link-selection:hover {
    transition: color 0.4s ease;
    cursor: pointer;
  }
  .type-3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid black;
    z-index: -1;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  .type-3:hover:after {
    transform-origin: 0%;
    transform: scaleX(1);
  }





/* for btn */
.btn-selection {
    position: relative;
    width: 190px;
    height: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .btn-selection:hover {
    transition: color 0.4s ease;
    color: white;
    cursor: pointer;
  }
  .type-2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  .type-2:hover:after {
    transform-origin: 0%;
    transform: scaleX(1);
  }